html {
  --color-1: #463220;
  --color-2: #66593c;
  --color-3: #eceadd;
  --color-4: #f7f8f5;
  --color-5: #ffffff;

  --gap-small: 0.625rem;
  --gap-default: 1.25rem;
}

body {
  font-family: sans-serif;
  margin: 0px;
  color: var(--color-2);
  background-color: var(--color-4);
}

.box {
  padding: var(--gap-default);
  border-radius: var(--gap-default);
  background-color: var(--color-5);
}

button {
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.flex {
  display: flex;
  gap: var(--gap-default);
}

.flex > * {
  flex: 1;
}

.mb {
  margin-bottom: var(--gap-default);
}

.bg-1 {
  background-color: var(--color-1);
}

.bg-2 {
  background-color: var(--color-2);
}

.bg-3 {
  background-color: var(--color-3);
}

.bg-4 {
  background-color: var(--color-4);
}

.bg-5{
  background-color: var(--color-5);
}

.container {
  display: grid;
  padding: var(--gap-default);
  gap: var(--gap-default);
}
